
	<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
	<html>
	<head>
	{% load staticfiles %}
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Search</title>

	<link rel="stylesheet" href="{% static 'lib/bootstrap.min.css' %}" >
	<script src="{% static 'lib/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'lib/bootstrap.min.js' %}"></script>

	<link rel="stylesheet" href="{% static 'bbc_dashboard/css/index.css' %}" >
	<link href="{% static 'lib/bootstrap-table.css' %}" rel="stylesheet">
	<link href="{% static 'lib/clockpicker.css' %}" rel="stylesheet">
	<script src="{% static 'lib/js.cookie.js' %}"></script>
	<script src="{% static 'bbc_dashboard/js/util.js' %}"></script>
	<script src="{% static 'bbc_dashboard/js/class.js' %}"></script>
	<script src="{% static 'lib/bootstrap-table.js' %}"></script>
	<script src="{% static 'lib/clockpicker.js' %}"></script>
	</head>
	<body>
	<div class="container-fluid">
		<div id="toolbar" class="btn-group">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" id='btn_add'>ADD</button>
		</div>
		<table id="classTable" 
				data-url={% url 'bbc_dashboard:class.data' %}
				data-show-toggle="true"
				data-search="true"           
				data-show-filter="true"
				data-striped="true"
				data-sort="name"
				data-toolbar="#toolbar"
				data-sort-order="desc">
			<thead>
			<tr>
				<th data-field="id" data-width="20" data-align="left" data-sortable="true">No</th>
				<th data-visible=false data-field="class_id" data-width="30" data-align="left">Id</th>
				<th data-visible=false data-field="inst_id" data-width="30" data-align="left">Inst_Id</th>
				<th data-field="class_name" data-width="30" data-align="left" data-sortable="true">Name</th>
				<th data-field="class_level" data-width="25" data-align="left" data-sortable="true">Level</th>
				<th data-field="class_day" data-width="25" data-align="left" data-sortable="true">Day</th>
				<th data-field="class_time"data-width="80" data-align="left" data-sortable="true">Time</th>
				<th data-field="inst"data-width="80" data-align="left" data-sortable="true">Instructor</th>
				<th data-field="modify" data-width="20" data-formatter="modifyFormatter" data-events="modifyEvents">Modify</th>
				<th data-field="remove" data-width="20" data-formatter="removeFormatter" data-events="removeEvents">Remove</th>
			</tr>
			</thead>
		</table>
	</div>

<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" 
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
				aria-hidden="true">x
				</button>
				<h4 class="modal-title" id="myModalLabel">
					Modify a class
				</h4>
			</div>
			<div class="modal-body">
				<form class="bs-example bs-example-form" role="form" id="modifyClassForm" method="POST" action="{% url 'bbc_db:modifyClass' %}">
					{% csrf_token %} 
					<input type="hidden" id='modify_id' name='id'>
					<div class="input-group">
						<span class="input-group-addon">Name</span>
						<input type="text" class="form-control comp_sponsor" style="width: 200px" id="modify_name" name="name"  placeholder="name">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Day of Week</span>
						<select type="text" class="form-control" name="day" id="modify_day" style="width: 200px">
							<option value="Monday">Monday</option>
							<option value="Tuesday">Tuesday</option>
							<option value="Wednesday">Wednesday</option>
							<option value="Thursday">Thursday</option>
							<option value="Friday">Friday</option>
							<option value="Saturday">Saturday</option>
							<option value="Sunday">Sunday</option>
						</select>
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Level</span>
						<select type="text" class="form-control" name="level" id="modify_level" style="width: 200px">
							<option value="Beginner">Beginner</option>
							<option value="Intermediate">Intermediate</option>
							<option value="Advanced">Advanced</option>
						</select>
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Instructor</span>
						<select type="text" class="form-control" name="inst" id="modify_inst" style="width: 200px">
							{% for inst in insts %}
								<option value="{{ inst.inst_id }}">{{ inst.inst_lname }}</option>
							{% endfor %}
						</select>
					</div>
					<br>
					<div class="form-group">
						<div class="input-group date date col-md-3 " id="modify_time" data-date="" data-date-format="hh:ii" data-link-field="motify_time_input" data-link-format="hh:ii">
							<label for="modify_time_input" class="input-group-addon control-label">Time</label>
							<input class="form-control" id="modify_time_input" name="time" size="8" type="text" value="" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" 
				data-dismiss="modal">close
				</button>
				<button type="button" class="btn btn-primary" id='sendConfirm2' data-dismiss="modal" data-toggle="modal" data-target="#confirmModal2">
				add
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" 
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" 
				aria-hidden="true">x
				</button>
				<h4 class="modal-title" id="myModalLabel">
					Create a class
				</h4>
			</div>
			<div class="modal-body">
				<form class="bs-example bs-example-form" role="form" id="addClassForm" method="POST" action="{% url 'bbc_db:addClass' %}">
					{% csrf_token %} 
					<div class="input-group">
						<span class="input-group-addon">Name</span>
						<input type="text" class="form-control comp_sponsor" style="width: 200px" id="add_name" name="name"  placeholder="name">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Day of Week</span>
						<select type="text" class="form-control" name="day" id="add_day" style="width: 200px">
							<option value="Monday">Monday</option>
							<option value="Tuesday">Tuesday</option>
							<option value="Wednesday">Wednesday</option>
							<option value="Thursday">Thursday</option>
							<option value="Friday">Friday</option>
							<option value="Saturday">Saturday</option>
							<option value="Sunday">Sunday</option>
						</select>
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Level</span>
						<select type="text" class="form-control" name="level" id="add_level" style="width: 200px">
							<option value="Beginner">Beginner</option>
							<option value="Intermediate">Intermediate</option>
							<option value="Advanced">Advanced</option>
						</select>
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Instructor</span>
						<select type="text" class="form-control" name="inst" id="add_inst" style="width: 200px">
							{% for inst in insts %}
								<option value="{{ inst.inst_id }}">{{ inst.inst_lname }}</option>
							{% endfor %}
						</select>
					</div>
					<br>
					<div class="form-group">
						<div class="input-group date date col-md-3 " id="add_time" data-date="" data-date-format="hh:ii" data-link-field="add_time_input" data-link-format="hh:ii">
							<label for="add_time_input" class="input-group-addon control-label">Time</label>
							<input class="form-control" id="add_time_input" name="time" size="8" type="text" value="" readonly>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" 
				data-dismiss="modal">close
				</button>
				<button type="button" class="btn btn-primary" id='sendConfirm' data-dismiss="modal" data-toggle="modal" data-target="#confirmModal">
				add
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" 
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" 
				aria-hidden="true">x
			</button>
			<h4 class="modal-title" id="myModalLabel">
				Confirmation
			</h4>
			</div>
			<div class="modal-body">
			Please make sure everything is correct!
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-default" 
				data-dismiss="modal">Close
			</button>
			<button type="button" class="btn btn-primary" id='addClassConfirm' data-dismiss="modal">
				Confirm
			</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="confirmModal2" tabindex="-1" role="dialog" 
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" 
				aria-hidden="true">x
			</button>
			<h4 class="modal-title" id="myModalLabel">
				Confirmation
			</h4>
			</div>
			<div class="modal-body">
			Please make sure everything is correct!
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-default" 
				data-dismiss="modal">Close
			</button>
			<button type="button" class="btn btn-primary" id='modifyClassConfirm' data-dismiss="modal">
				Confirm
			</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>